[submodule "coverflow"]
	path = coverflow
	url = https://github.com/vanderlee/coverflow.git
[submodule "2208578ba151d1d7c4edeeda15b4e9b1"]
	path = 2208578ba151d1d7c4edeeda15b4e9b1
	url = https://gist.github.com/2208578ba151d1d7c4edeeda15b4e9b1.git
