
body {
	background: #000;
	margin: 0px;
  overflow: hidden;
  user-select: none;
}

div#container {
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

div#loading {
	display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div#result {
  display: block;
  position: fixed;
  text-align: center;
  vertical-align: top;
	color: #FFF;
  overflow: hidden;
  padding-top: calc(max((100vh - 50vw)/2, 22.5vh));
  background: #000;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

div#result img {
  min-width: min(50vw, 55vh);
}

div.album_container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  perspective: 600px;
  opacity: 1.0;
  z-index: 11;
  opacity: 1.0;
}

div.album_container.gone {
  opacity: 0.0;
  display: none;
}

div.album_background {
  position: absolute;
  background: #00000080;
  width: 100%;
  height: 100%;
  opacity: 1.0;
  z-index: 10;
  animation: album_background_gone_to_normal 0.75s ease 0.0s forwards;
  opacity: 1.0;
}

div.album_background.gone {
  opacity: 0.0;
  animation: album_background_normal_to_gone 0.75s ease 0.0s forwards;
}

div.album_background.leaving {
  opacity: 1.0;
  animation: album_background_normal_to_leaving 0.75s ease 0.0s forwards;
}

div#album {
  position: absolute;
  background: #FFFFFF;
  width: min(50vw, 55vh);
  height: min(50vw, 55vh);
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.73) rotate3d(0, 1, 0, 180deg);
  opacity: 1.0;
  animation: album_gone_to_normal 0.75s ease 0.0s forwards;
  z-index: 10;
  overflow: hidden;
}

div#album.gone {
  transform: scale(1) rotate3d(0, 1, 0, 0deg);
  opacity: 0.0;
  animation: album_normal_to_gone 0.75s ease 0.0s forwards;
  overflow: hidden;
}

div#album.leaving {
  transform: scale(1) rotate3d(0, 1, 0, 0deg);
  opacity: 1.0;
  animation: album_normal_to_leaving 0.75s ease 0.0s forwards;
  overflow: hidden;
}

div#album_back {
  position: absolute;
  background: #FFFFFF00;
  width: min(86.5vw, 95.1vh);
  height: min(86.5vw, 95.1vh);
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  transform: scale(1) rotate3d(0, 1, 0, 360deg);
  opacity: 1.0;
  animation: album_back_gone_to_normal 0.75s ease 0.0s forwards;
  z-index: 10;
  overflow: hidden;
}

div#album_back.gone {
  transform: scale(1) rotate3d(0, 1, 0, 180deg);
  opacity: 0.0;
  animation: album_back_normal_to_gone 0.75s ease 0.0s forwards;
  overflow: hidden;
}

div#album_back.leaving {
  transform: scale(1) rotate3d(0, 1, 0, 180deg);
  opacity: 1.0;
  animation: album_back_normal_to_leaving 0.75s ease 0.0s forwards;
  overflow: hidden;
}

div#album img {
  opacity: 1.0;
  animation: album_img_gone_to_normal 0.75s ease 0.0s forwards;
}

div#album.gone img {
  opacity: 0.5;
  animation: album_img_normal_to_gone 0.75s ease 0.0s forwards;
}

@keyframes album_gone_to_normal {
  0% {
    transform: scale(1) rotate3d(0, 1, 0, 0deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(1.73) rotate3d(0, 1, 0, 180deg);
    opacity: 1.0;
  }
}

@keyframes album_normal_to_gone {
  0% {
    transform: scale(1.73) rotate3d(0, 1, 0, 180deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(1) rotate3d(0, 1, 0, 0deg);
    opacity: 1.0;
  }
}

@keyframes album_normal_to_leaving {
  0% {
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(1.73) rotate3d(0, 1, 0, 180deg);
    opacity: 1.0;
  }
}

@keyframes album_leaving_to_gone {
  0% {
    transform: scale(1.73) rotate3d(0, 1, 0, 180deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    opacity: 1.0;
  }
}

@keyframes album_background_gone_to_normal {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes album_background_normal_to_gone {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

@keyframes album_background_leaving_to_normal {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes album_background_normal_to_leavingh {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

@keyframes album_back_gone_to_normal {
  0% {
    transform: scale(0.58) rotate3d(0, 1, 0, 180deg);
    opacity: 0.0;
  }
  100% {
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    opacity: 1.0;
  }
}

@keyframes album_back_normal_to_gone {
  0% {
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(0.58) rotate3d(0, 1, 0, 180deg);
    opacity: 0.0;
  }
}

@keyframes album_back_leaving_to_normal {
  0% {
    transform: scale(0.58) rotate3d(0, 1, 0, 180deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    opacity: 1.0;
  }
}

@keyframes album_back_normal_to_leaving {
  0% {
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(0.58) rotate3d(0, 1, 0, 180deg);
    opacity: 1.0;
  }
}

@keyframes album_img_gone_to_normal {
  0% {
    opacity: 100%;
  }
  33% {
    opacity: 100%;
  }
  67% {
    opacity: 50%;
  }
  100% {
    opacity: 50%;
  }
}

@keyframes album_img_normal_to_gone {
  0% {
    opacity: 50%;
  }
  33% {
    opacity: 50%;
  }
  67% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

div.cover {
  text-align: center;
}

div#title_area {
  display: table;
  position: fixed;
  width: 100%;
  height: auto;
  background: #88888866;
  bottom: 0px;
  z-index: 2;
}

div#title_area.darken {
  background: #00000000;
}

#chart_title {
  position: relative;
  left: 2vh;
  top: 2vh;
  font-size: large;
  color: #FFFFFF;
  float: left;
  max-width: 64vw;
  padding-bottom: 7px;
}

.song_title {
  position: absolute;
  display: contents;
  color: #FFFFFF;
}

.hidden {
	display: none !important;
}

.title {
  display: table-cell;
  position: relative;
  color: #FFFFFF;
  margin: auto;
  width: calc(100% - 4em);
  height: min(24vw, 16vh);
  text-align: center;
  vertical-align: middle;
  max-width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

div.button_area {
  display: table-cell;
  width: 2em;
  height: min(24vw, 16vh);
  text-align: center;
  vertical-align: middle;
}

button.circle_button {
  margin: auto;
  border: 0;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background: #eeeeee44;
  color: #eeeeee;
  user-select: none;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button.circle_button:hover {
  background: #ffffff55;
  color: #ffffff;
}

button.circle_button:active {
  background: #ffffff77;
  color: #ffffff;
}

div#chart_area div#chart_area_right_block {
  position: relative;
  float: right;
  top: 2vh;
  right: 2vh;
  padding-left: 36px;
}

div#chart_area button.circle_button {
  position: relative;
  float: right;
}

button.right {
  float: right;
}

select#storefront {
  position: relative;
  font-size: large;
/*  max-width: 36vw;*/
  float: right;
  margin-left: 8px;
}

.title a {
  color: #FFFFFF;
}

img#album_img {
  width: 100%;
  /*opacity: 33%;*/
}

/* Source from: https://loading.io/css/ */ 

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

div#song_list {
  display: table;
  position: fixed;
  width: min(480px, calc(100vw - 16px));
  height: 100%;
  max-height: 100%;
  background: #88888866;
  left: 0px;
  top: 0px;
  z-index: 10;
  backdrop-filter: blur(8px);
  animation: song_list_gone_to_normal 0.5s ease 0.0s forwards;
  color: #FFFFFF;
}

div#song_list.hidden {
  display: none;
}

div#song_list.gone {
  left: -480px;
  animation: song_list_normal_to_gone 0.5s ease 0.0s forwards;
}

div#song_list_button_area {
  height: 24px;
  padding: 8px 8px 0px 8px;
}

div.song_list_content {
  max-width: min(480px, calc(100vw - 16px));
  max-height: calc(100vh - 57px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 8px 8px 8px;
}

div.song_list_content li {
  list-style-type: decimal;
  max-width: min(420px, calc(100vw - 76px));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  display: table-row;
  counter-increment: table-ol;
}

div.song_list_content li:before {
  color: white;
  content: counter(table-ol) ".";
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  padding-right: 4px;
}

div.song_list_content a {
  display: inline-block;
  position: relative;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px;
}

div#song_list hr {
  border-bottom: 0;
}

@keyframes song_list_gone_to_normal {
  0% {
    left: -500px;
  }
  100% {
    left: 0px;
  }
}

@keyframes song_list_normal_to_gone {
  0% {
    left: 0px;
  }
  100% {
    left: -500px;
  }
}

#load_rest_tmp {
  display: none;
}