
body {
	background: #000;
	margin: 0px;
  overflow: hidden;
}

div#container {
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

div#loading {
	display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div#result {
  display: table-cell;
  position: fixed;
  text-align: center;
  vertical-align: top;
	color: #FFF;
  overflow: hidden;
  padding-top: calc(max((100vh - 50vw)/2, 22.5vh));
  background: #000;
  width: 100%;
  min-height: 100%;
}

div#result img {
  min-width: min(50vw, 55vh);
}

div.album_container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  perspective: 600px;
  opacity: 1.0;
  z-index: 11;
  opacity: 1.0;
}

div.album_container.gone {
  opacity: 0.0;
  display: none;
}

div.album_background {
  position: absolute;
  background: #00000080;
  width: 100%;
  height: 100%;
  opacity: 1.0;
  z-index: 10;
  animation: album_background_gone_to_normal 0.75s ease 0.0s forwards;
  opacity: 1.0;
}

div.album_background.gone {
  opacity: 0.0;
  animation: album_background_normal_to_gone 0.75s ease 0.0s forwards;
  display: none;
}

div#album {
  position: absolute;
  background: #FFFFFF;
  width: min(50vw, 55vh);
  height: min(50vw, 55vh);
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.73) rotate3d(0, 1, 0, 180deg);
  opacity: 1.0;
  animation: album_gone_to_normal 0.75s ease 0.0s forwards;
  z-index: 10;
  overflow: hidden;
}

div#album.gone {
  transform: scale(1) rotate3d(0, 1, 0, 0deg);
  opacity: 0.0;
  animation: album_normal_to_gone 0.75s ease 0.0s forwards;
  overflow: hidden;
}

div#album_back {
  position: absolute;
  background: #FFFFFF00;
  width: min(86.5vw, 95.1vh);
  height: min(86.5vw, 95.1vh);
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  transform: scale(1) rotate3d(0, 1, 0, 360deg);
  opacity: 1.0;
  animation: album_back_gone_to_normal 0.75s ease 0.0s forwards;
  z-index: 10;
  overflow: hidden;
}

div#album_back.gone {
  transform: scale(1) rotate3d(0, 1, 0, 180deg);
  opacity: 0.0;
  animation: album_back_normal_to_gone 0.75s ease 0.0s forwards;
  overflow: hidden;
}

div#album img {
  opacity: 1.0;
  animation: album_img_gone_to_normal 0.75s ease 0.0s forwards;
}

div#album.gone img {
  opacity: 0.5;
  animation: album_back_normal_to_gone 0.75s ease 0.0s forwards;
}

@keyframes album_gone_to_normal {
  0% {
    transform: scale(1) rotate3d(0, 1, 0, 0deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(1.73) rotate3d(0, 1, 0, 180deg);
    opacity: 1.0;
  }
}

@keyframes album_normal_to_gone {
  0% {
    transform: scale(1.73) rotate3d(0, 1, 0, 180deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(1) rotate3d(0, 1, 0, 0deg);
    opacity: 0.0;
  }
}

@keyframes album_background_gone_to_normal {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes album_background_normal_to_gone {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

@keyframes album_back_gone_to_normal {
  0% {
    transform: scale(0.58) rotate3d(0, 1, 0, 180deg);
    opacity: 0.0;
  }
  100% {
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    opacity: 1.0;
  }
}

@keyframes album_back_normal_to_gone {
  0% {
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(0.58) rotate3d(0, 1, 0, 180deg);
    opacity: 0.0;
  }
}

@keyframes album_img_gone_to_normal {
  0% {
    opacity: 100%;
  }
  33% {
    opacity: 100%;
  }
  67% {
    opacity: 50%;
  }
  100% {
    opacity: 50%;
  }
}

@keyframes album_img_normal_to_gone {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

div.cover {
  text-align: center;
}

div#title_area {
  display: table;
  position: fixed;
  width: 100%;
  height: auto;
  background: #88888866;
  bottom: 0px;
  z-index: 2;
}

div#title_area.darken {
  background: #00000000;
}

#chart_title {
  position: relative;
  left: 2vh;
  top: 2vh;
  font-size: large;
  color: #FFFFFF;
  float: left;
  max-width: 64vw;
}

select#storefront {
  position: relative;
  right: 2vh;
  top: 2vh;
  font-size: large;
  max-width: 36vw;
  float: right;
}

.song_title {
  position: absolute;
  display: contents;
  color: #FFFFFF;
}

.hidden {
	display: none !important;
}

.title {
  display: table-cell;
  position: relative;
  color: #FFFFFF;
  margin: auto;
  width: calc(100% - 4em);
  height: min(24vw, 16vh);
  text-align: center;
  vertical-align: middle;
  max-width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

div#title_area div.button_area {
  display: table-cell;
  width: 2em;
  height: min(24vw, 16vh);
  text-align: center;
  vertical-align: middle;
}

div#title_area div.button_area button {
  margin: auto;
  border: 0;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background: #eeeeee44;
  color: #eeeeee;
}

div#title_area div.button_area button:hover {
  background: #ffffff55;
  color: #ffffff;
}

div#title_area div.button_area button:active {
  background: #ffffff77;
  color: #ffffff;
}

.title a {
  color: #FFFFFF;
}

img#album_img {
  width: 100%;
  /*opacity: 33%;*/
}

/* Source from: https://loading.io/css/ */ 

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}